* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background: url("../assets/tablicbg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

.sideContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 20%;
}

.playerScoreboard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 80%;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  color: #fff;
  border-radius: 10%;
  font-size: 2vw;
}

.score {
  font-size: 3vw;
}

img {
  max-height: 45.9%;
  max-width: 6.12%;
  margin: 0 0.5%;
  flex: 1;
  cursor: pointer;
}

.clicked {
  opacity: 0.9;
  transform: scale(1.1);
  filter: invert(20%);
  animation: shake 0.6s infinite;
}

@keyframes shake {
  0% {transform:translate(0px, 0px) scale(1.05) rotate(0deg);}
  25%{transform:translate(0.5px, 0.5px) scale(1.05) rotate(0.5deg);}
  50% {transform:translate(-0.5px, -0.5px) scale(1.05) rotate(-0.5deg);}
  75%{transform:translate(1px, -0.5px) scale(1.05) rotate(1deg);}
  100%{transform:translate(-0.5px, -0.5px) scale(1.05) rotate(-0.5deg);}
}

@media (orientation: landscape) {
  .playerScoreboard{
    font-size: 2vh;
  }
  .score {
    font-size: 3vh;
  }
}
